@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --navbarcolor: #171c2b;
  --herocolor: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #090b12;
  scroll-behavior: smooth;
  scroll-margin: 20px;
}
.navbar {
  height: 72px;
  width: 100%;
  background-color: #171c2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  /* background-color: red; */
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navbarcolor);
}
.title p {
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: var(--navbarcolor);
}
.navigation {
  width: 340px;
  height: 40px;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background-color: var(--navbarcolor);
}
.navigation a {
  text-decoration: none;
  color: white;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: var(--navbarcolor);
}

.hero {
  margin: 50px 0px;
  height: 620px;
  background-color: #ffffff;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-frame {
  width: 50%;
  background-color: var(--herocolor);
  margin: 0px 20px;
}
.hero-frame p {
  background-color: var(--herocolor);
}
.hero-frame :nth-child(1) {
  color: #7aa6ff;
  font-size: large;
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  background-color: var(--herocolor);
  font-weight: 600;
}
.hero-frame :nth-child(2) {
  color: #5c84ff;
  font-size: 80px;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
  background-color: var(--herocolor);
  font-weight: 600;
}
.hero-frame :nth-child(3) {
  color: #a8b0c7;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--herocolor);
  margin-bottom: 20px;
}
.hero-btn1 {
  height: 60px;
  width: 160px;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  margin-right: 8px;
  margin-bottom: 20px;
  background-color: #4f7aff;
  border: 2px solid #4f7aff;
  /*border: none;*/
  font-family: "Inter", sans-serif;
}
.hero-btn2 {
  height: 60px;
  width: 160px;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  background-color: #171c2b;
  border: 2px solid #384057;
  font-family: "Inter", sans-serif;
}
.svg-spiral {
  background-color: var(--herocolor);
  margin-right: 10vw;
}
svg.svg-spiral .circle1 {
  animation: spin1 10s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes spin1 {
  to {
    transform: scale(-2);
  }
}
svg.svg-spiral .circle2 {
  animation: spin2 10s ease-in-out infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes spin2 {
  to {
    transform: scale(2);
  }
}
svg.svg-spiral .line {
  animation: liner 10s ease-in-out infinite alternate;
  transform-origin: 230px 230px;
}

@keyframes liner {
  to {
    transform: rotate(360deg);
  }
}

/* hero part css ends here */
.about {
  margin: 0px 20px;
  font-family: "Inter", sans-serif;
}
.about :nth-child(1) {
  font-size: 30px;
  color: #5c85ff;
  margin-bottom: 20px;
}
.about :nth-child(2) {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about :nth-child(3) {
  font-size: 20px;
  font-weight: 200;
}
.about-detail {
  margin: 40px 20px 40px 20px;
  padding: 20px 20px;
  height: 200px;
  background-color: #11141f;
  border: 2px solid #262e40;
  border-radius: 20px;
}

.about-detail #focustitle {
  background-color: #11141f;
  color: #5c85ff;
  font-size: 23px;
}
.focustags {
  height: 90%;
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 100px;
  background-color: #11141f;
}

.focustags p {
  background-color: #11141f;
}
/* completed this much on 18/9/2026 24:45 pm */
.tools-container {
  margin: 20px 20px;
  /* padding: 20px 20px;
  background-color: #11141f;
  border: 2px solid #262e40;
  border-radius: 20px; */
  /* height: 200px; */
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px 20px;
  align-items: center;
}

.tools-container .tool {
  width: 400px;
  height: 100px;
  background-color: #11141f;
  border: 2px solid #262e40;
  border-radius: 20px;
  padding: 40px 20px;
  font-family: "Inter";
  /* background-color: red; */
}
.tools-container .tool :nth-child(1) {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #11141f;
}

.tools-container .tool :nth-child(2) {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #11141f;
  font-weight: 100;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: none;
  }
  .svg-spiral {
    display: none; /*this is media part for mobile has to be updated later*/
  }
  .hero-frame {
    width: 100%;
  }
}
/* skill part css ends here */
.project-container {
  margin: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-around;
  gap: 40px 20px;
  align-items: center;
}
.project-container .projects {
  width: 600px;
  height: 140px;
  background-color: #11141f;
  border: 2px solid #262e40;
  border-radius: 20px;
  padding: 40px 20px;
  font-family: "Inter";
  /* background-color: red; */
}
.project-container .projects :nth-child(1) {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #11141f;
}

.project-container .projects :nth-child(2) {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
  background-color: #11141f;
  font-weight: 100;
}
.project-container .projects .viewpro {
  font-size: 20px;
  height: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #11141f;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}
.project-container .projects .viewpro :nth-child(1) {
  font-size: 20px;
  font-weight: 300;
  color: #5c85ff;
}
.project-container .projects .viewpro :nth-child(2) {
  font-size: 18px;
  font-weight: 300;
}
/* project part css ended here */
.certificate-container {
  margin: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 1fr 1fr; */
  justify-content: space-around;
  gap: 40px 20px;
  align-items: center;
}
.certificate-container .certificates {
  width: 360px;
  height: 140px;
  background-color: #11141f;
  border: 2px solid #262e40;
  border-radius: 20px;
  padding: 40px 20px;
  font-family: "Inter";
  /* background-color: red; */
}
.certificate-container .certificates :nth-child(1) {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #11141f;
}

.certificate-container .certificates :nth-child(2) {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
  background-color: #11141f;
  font-weight: 100;
}
.certificate-container .certificates .view-certificate {
  font-size: 20px;
  height: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #11141f;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}
.certificate-container .certificates .view-certificate :nth-child(1) {
  font-size: 20px;
  font-weight: 300;
  color: #5c85ff;
}
/* achivement part css done here */

.education-container {
  margin: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 40px 20px;
  align-items: center;
}
.education-container .educations {
  width: 90vw;
  height: 140px;
  background-color: #11141f;
  border: 2px solid #262e40;
  border-radius: 20px;
  padding: 40px 20px;
  font-family: "Inter";
}
.education-container .educations :nth-child(1) {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #11141f;
}

.education-container .educations :nth-child(2) {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
  background-color: #11141f;
  font-weight: 100;
}
.education-container .educations .view-certificate {
  font-size: 20px;
  height: 20px;
  color: #ffffff;
  margin-bottom: 20px;
  background-color: #11141f;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
}
.education-container .educations .view-educations :nth-child(1) {
  font-size: 20px;
  font-weight: 300;
  color: #5c85ff;
}
/* education part css ended here */
